@model IEnumerable<EconModels.PopulationModel.CultureBreakdown>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	Not Suggested to Use these pages. Proper page To be Made <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Parent.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Parent.Territory)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Parent.PrimaryJob)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Culture.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Percent)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.Territory.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.PrimaryJob.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Culture.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Percent)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { parentId = item.ParentId, cultureId = item.CultureId }) |
			@Html.ActionLink("Details", "Details", new { parentId = item.ParentId, cultureId = item.CultureId }) |
			@Html.ActionLink("Delete", "Delete", new { parentId = item.ParentId, cultureId = item.CultureId })
		</td>
	</tr>
}

</table>
