@model EconModels.ProductModel.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bulk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bulk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maintainable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maintainable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fractional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fractional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeanTimeToFailure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeanTimeToFailure)
        </dd>
    </dl>
</div>

@if (Model.FailsInto.Any())
{
<p>One @Model.UnitName (@Model.Mass Kg) of the Product fails into</p>
<table class="table-condensed">
    <tr>
        <th>Amount</th>
        <th>Unit</th>
        <th>Product</th>
    </tr>
@foreach (var item in Model.FailsInto)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result.Name)
        </td>
    </tr>
}
</table>
}

@if (Model.MaintainedBy.Any())
{
<p>One @Model.UnitName (@Model.Mass Kg) of the product is maintained by</p>
<table class="table-responsive">
    <tr>
        <th>Amount</th>
        <th>Unit</th>
        <th>Product</th>
    </tr>
@foreach (var item in Model.MaintainedBy)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
    </tr>
}
</table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
