@model EconModels.PopulationModel.PoliticalBreakdown

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PoliticalBreakdown</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliticalGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliticalGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Percent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { parentId = Model.ParentId, partyId = Model.PoliticalGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
