@model IEnumerable<EconModels.PopulationModel.PoliticalBreakdown>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	Limited Usefulness, suggest using 'Add Political Group' in Population Group Page. <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Parent.Name)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.Parent.Territory)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Parent.PrimaryJob)
		</th>
        <th>
            @Html.DisplayNameFor(model => model.PoliticalGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.Territory.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Parent.PrimaryJob.Name)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliticalGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { parentId = item.ParentId, partyId = item.PoliticalGroupId }) |
            @Html.ActionLink("Details", "Details", new { parentId = item.ParentId, partyId = item.PoliticalGroupId }) |
            @Html.ActionLink("Delete", "Delete", new { parentId = item.ParentId, partyId = item.PoliticalGroupId })
        </td>
    </tr>
}

</table>
