@model WebInterface.Models.PoliticalGroupModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>PoliticalGroup</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.VariantName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.VariantName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.VariantName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Radicalism, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Radicalism, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Radicalism, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Nationalism, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Nationalism, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Nationalism, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Centralization, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Centralization, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Centralization, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Authority, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Authority, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Authority, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Planning, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Planning, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Planning, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Militarism, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Militarism, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Militarism, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AllyList, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.ListBoxFor(x => x.SelectedAllyIds, Model.AllyList)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.EnemyList, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.ListBoxFor(x => x.SelectedEnemyIds, Model.EnemyList)
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
