@model EconModels.PopulationModel.PoliticalGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PoliticalGroup</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.VariantName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.VariantName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Radicalism)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Radicalism)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Nationalism)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Nationalism)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Centralization)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Centralization)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Authority)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Authority)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Planning)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Planning)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Militarism)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Militarism)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Tags)
		</dt>
		<dd>
			@if (Model.Tags.Any())
			{
				<table class="table-bordered">
					<tr>
						<th>
							Tag
						</th>
					</tr>
					@foreach (var tag in Model.Tags)
					{
						<tr>
							<td>
								@Html.DisplayFor(x => tag.Tag)
							</td>
						</tr>
					}
				</table>
			}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Allies)
		</dt>
		<dd>
			@if (Model.Allies.Any())
			{
				<table class="table-bordered">
					<tr>
						<th>
							Ally
						</th>
						<th>
							Variant
						</th>
					</tr>
					@foreach (var ally in Model.Allies)
					{
						<tr>
							<td>
								@Html.DisplayFor(x => ally.Name)
							</td>
							<td>
								@Html.DisplayFor(x => ally.VariantName)
							</td>
						</tr>
					}
				</table>
			}
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Enemies)
		</dt>
		<dd>
			@if (Model.Enemies.Any())
			{
				<table class="table-bordered">
					<tr>
						<th>
							Enemy
						</th>
						<th>
							Variant
						</th>
					</tr>
					@foreach (var enemy in Model.Enemies)
					{
						<tr>
							<td>
								@Html.DisplayFor(x => enemy.Name)
							</td>
							<td>
								@Html.DisplayFor(x => enemy.VariantName)
							</td>
						</tr>
					}
				</table>
			}
		</dd>

	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
