@model IEnumerable<EconModels.ProcessModel.Process>

@{
    ViewBag.Title = "Index";
}

<h2>Processes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th>
            @Html.ActionLink("Inputs", "Index", "ProcessInputs", null, null)
        </th>
        <th>
            @Html.ActionLink("Capitals", "Index", "ProcessCapitals", null, null)
        </th>
        <th>
            @Html.ActionLink("Outputs", "Index", "ProcessOutputs", null, null)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VariantName)
        </td>
        <td>
            @if (item.Inputs.Any()) {
            <table class="table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Tags
                    </th>
                    <th>
                        Unit Amount
                    </th>
                </tr>
                @foreach (var input in item.Inputs) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelInput => input.Input.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelInput => input.Tag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelInput => input.Amount)
                        </td>
                    </tr>
                }
            </table>
            }
        </td>
        <td>
            @if (item.Capital.Any())
            {
                <table class="table-bordered">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            Unit Amount
                        </th>
                    </tr>
                    @foreach (var capital in item.Capital)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelInput => capital.Capital.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelInput => capital.Tag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelInput => capital.Amount)
                            </td>
                        </tr>
                    }
                </table>
            }
        </td>
        <td>
            @if (item.Outputs.Any())
            {
                <table class="table-bordered">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            Unit Amount
                        </th>
                    </tr>
                    @foreach (var output in item.Outputs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelInput => output.Output.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelInput => output.Tag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelInput => output.Amount)
                            </td>
                        </tr>
                    }
                </table>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
