@model EconModels.ProcessModel.ProcessCapital

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProcessCapital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Process.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
