@model IEnumerable<EconModels.ProcessModel.ProcessCapital>

@{
    ViewBag.Title = "Index";
}

<h2>Process Capitals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capital.Name)
        </th>
        <th>
            @Html.ActionLink("Process", "Index", "Processes", null, null)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Capital.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Process.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { processId=item.ProcessId, capitalId=item.CapitalId }) |
            @Html.ActionLink("Details", "Details", new { processId = item.ProcessId, capitalId = item.CapitalId }) |
            @Html.ActionLink("Delete", "Delete", new { processId = item.ProcessId, capitalId = item.CapitalId })
        </td>
    </tr>
}

</table>
