@model EconModels.PopulationModel.SpeciesAnathema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Species Anathema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Species.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anathema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anathema.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
