@model EconModels.PopulationModel.CultureNeed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Culture Need</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Culture.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Culture.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Need.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Need.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.NeedType)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.NeedType)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    Cannot be edited, delete and make a replacement.
</p>
