@model EconModels.PopulationModel.Species

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeciesGrowthRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeciesGrowthRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempuraturePreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempuraturePreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GravityPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GravityPreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfantPhaseLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfantPhaseLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildPhaseLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildPhaseLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdultPhaseLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdultPhaseLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageLifeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageLifeSpan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
