@model IEnumerable<EconModels.PopulationModel.Species>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
	@Html.ActionLink("To Needs", "Index", "SpeciesNeeds") |
	@Html.ActionLink("To Wants", "Index", "SpeciesWants") |
	@Html.ActionLink("To Aversions", "Index", "SpeciesAversions") |
	@Html.ActionLink("To Anathemas", "Index", "SpeciesAnathemas") |
	@Html.ActionLink("To Tags", "Index", "SpeciesTags")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesGrowthRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempuraturePreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravityPreference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfantPhaseLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildPhaseLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdultPhaseLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageLifeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aversions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anathemas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifeNeeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifeWants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VariantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeciesGrowthRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempuraturePreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravityPreference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfantPhaseLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildPhaseLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdultPhaseLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageLifeSpan)
        </td>
        <th>
            <table class="table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <td>
                        Tag
                    </td>
                </tr>
                @foreach(var sub in item.Aversions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => sub.Aversion)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Tag)
                        </td>
                    </tr>
                }
            </table>
        </th>
        <th>
            <table class="table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <td>
                        Tag
                    </td>
                </tr>
                @foreach (var sub in item.Anathemas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => sub.Anathema.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Tag)
                        </td>
                    </tr>
                }
            </table>
        </th>
        <th>
            <table class="table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <td>
                        Tag
                    </td>
                </tr>
                @foreach (var sub in item.LifeNeeds)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => sub.Need.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Tag)
                        </td>
                    </tr>
                }
            </table>
        </th>
        <th>
            <table class="table-bordered">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Amount
                    </th>
                    <td>
                        Tag
                    </td>
                </tr>
                @foreach (var sub in item.LifeWants)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => sub.Want)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(x => sub.Tag)
                        </td>
                    </tr>
                }
            </table>
        </th>
        <th>
            <table class="table-bordered">
                <tr>
                    <th>
                        Tag
                    </th>
                </tr>
                @foreach (var sub in item.Tags)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => sub.Tag)
                        </td>
                    </tr>
                }
            </table>
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
