@model EconModels.PopulationModel.PopulationGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PopulationGroup</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.PrimaryJob.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PrimaryJob.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Market.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Market.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Infants)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Infants)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Children)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Children)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Adults)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Adults)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Seniors)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Seniors)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SkillLevel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SkillLevel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Priority)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Priority)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SpeciesBreakdown)
		</dt>

		<dd>
			<table class="table-bordered">
				<tr>
					<th>
						Species
					</th>
					<th>
						Percent
					</th>
				</tr>
				@foreach (var spe in Model.SpeciesBreakdown)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => spe.Species.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => spe.Percent)
						</td>
					</tr>
				}
			</table>
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CultureBreakdown)
		</dt>

		<dd>
			<table class="table-bordered">
				<tr>
					<th>
						Culture
					</th>
					<th>
						Percent
					</th>
				</tr>
				@foreach (var spe in Model.CultureBreakdown)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => spe.Culture.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => spe.Percent)
						</td>
					</tr>
				}
			</table>
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PoliticalBreakdown)
		</dt>

		<dd>
			<table class="table-bordered">
				<tr>
					<th>
						Political Group
					</th>
					<th>
						Percent
					</th>
				</tr>
				@foreach (var spe in Model.PoliticalBreakdown)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => spe.PoliticalGroup.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => spe.Percent)
						</td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
